
body{
    background: url(/fondo.png);
    -webkit-gradient:(linear, right top, left top,(from(#051dee), to(#0bf5da)));
  background: url(/fondo.png),
  linear-gradient(to left, #051dee, #7c054b,  #ad0797);
   
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
  }
  
  .nav-item {
    position: static;
    position: relative;
    padding: 10px;
  }
  
  #btnHowYouFeel {
    padding: 0.8rem;
    margin: 2rem;
    color: black;
  }
  
  footer {
    /* background-color: rgb(15, 1, 29) ; */
    color: cyan;
    padding: 5rem;
    text-align: center;
  }
  
  section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  
  .login {
    position: relative;
    padding: 60px;
    background: rgba(15, 11, 92, 0.375);
    backdrop-filter: blur(15px);
    border: 1px solid #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 55px 90px rgba(0, 0, 0, 0.861);
  }
  
  .login h2 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .login .inputBox {
    position: relative;
  }
  
  .login .inputBox input {
    position: relative;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    font-size: 1.25em;
    color: #070201;
    border-radius: 5px;
    background: #fff;
    border: none;
    margin-bottom: 30px;
  }
  
  .login .inputBox ::placeholder {
    color: #04022590;
  }
  
  
  .login .group {
    display: flex;
    justify-content: space-between;
  }
  
  .login .group a {
    font-size: 1.25em;
    color: #0c0232;
    font-weight: 500;
    text-decoration: none;
  }
  
  /* .login .group a:nth-child(2) {
    text-decoration: underline;
  } */

  .imgNavbar {
    padding: 10px;
  }
  
  .nav-link {
    font-size: 1.1rem;
    color: black;
    text-align: center;
  }
  
  .nav-link:hover {
    text-decoration: underline;
    line-height: 1.5;
    text-underline-offset: 0.5rem;
  }
  
  .navbar {
    background: linear-gradient(#6802a3, #330f86, #01062c)
      
    
  
  }
  
  .container-fluid {
    background: linear-gradient(#6c05ab, #330f86, #01062c);
    display: flex;
    justify-content: space-between;
  
  }
  
  #formRegister{
    width: 50rem;
    width: auto;
  
  }
  
  
  navbar-nav a:hover{
    
    text-decoration: underline purple;
    display: unset;

}
